{% macro show_model(item) export %}
    <div class="thumb">
        <figure>
            <a href="{% link "model", slug = item.Slug, id = item.Id %}"
               data-id="{{ item.Id }}"
               class="thumb-link"
               data-target="_blank">
                <picture
                        data-thumb-number="{{ item.SelectedThumb() }}"
                        data-amount="{{ item.ThumbsAmount }}"
                        data-retina="{{ item.ThumbRetina }}"
                >
                    <source srcset="{{ item.Thumb() }}{% if item.ThumbRetina %}, {{ item.HiresThumb() }} 1.5x{% endif %}">
                    <img
                            alt="{{ item.Title | title }}"
                            src="{{ item.Thumb() }}"
                            loading="lazy"
                    >
                </picture>
                <div class="cat-total" data-number="{% firstof item.Total 0 %}"></div>
            </a>
            <figcaption>
                <div class="title-niche">{{ item.Title | capfirst }}</div>
            </figcaption>
        </figure>
    </div>
{% endmacro %}