{% extends "common/layout.twig" %}
{% block head %}
    <title>{{ category.Title | capfirst }} - {{ config.Custom.site_title }}</title>
    <meta name="description"
          content="{{ translate("hand picked content") }} - {{ category.Title | capfirst }}">
    {% set tags = category.Tags | join:", " %}
    <meta name="keywords" content="{{ translate(tags) }}">
{% endblock %}
{% block body %}
    {% import "common/show-content.twig" show_content %}
    {% import "common/show-ad.twig" show_ad %}
    {% import "common/show-toplist-thumb.twig" show_toplist_thumb %}
    <div class="title-filters">
        <h1 class="list-title"><i class="icon-list2 padded"></i>{{ category.Title | capfirst }}</h1>
        {% include "common/filters.twig" %}
    </div>
    {% include "common/pagination.twig" %}
    {% include "common/related.twig" %}
    <main class="thumbs">
        {% set toplist = fetch_toplist("", 8, true) %}
        {% repeat "ad", amount = 4, as = ads_list %}
        {% dilute content.Items, ads_list, from = 0, to = 50, as = items %}
        {% dilute items, toplist.items, from = 0, to = 30, as = items %}
        {% for item in items %}
            {% if item == "ad" %}
                {{ show_ad("native1", forloop.Counter, false) }}
            {% elif item.trader.domain %}
                {{ show_toplist_thumb(item, toplist, false) }}
            {% else %}
                {{ show_content(item) }}
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}