{% extends "common/layout.twig" %}
{% block head %}
    {% set title1 = translate("Best content") %}
    {% set title2 = config.Custom.site_title %}
    {% set title = title1 | add:" - " | add:title2 %}
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ translate("Best available digital content") }}">
    <meta name="keywords"
          content="{{ translate("fullhd, free, video, pictures" ) }}">
{% endblock %}
{% block body %}
    {% import "common/show-content.twig" show_content %}
    {% import "common/show-ad.twig" show_ad %}
    {% import "common/show-toplist-thumb.twig" show_toplist_thumb %}
    {% include "common/pagination.twig" %}
    <main class="thumbs">
        {% set toplist = fetch_toplist("", 8, true) %}
        {% repeat "ad", amount = 4, as = ads_list %}
        {% dilute content.Items, ads_list, from = 20, to = 70, as = items %}
        {% dilute items, toplist.items, from = 10, to = 50, as = items %}
        {% for item in items %}
            {% if item == "ad" %}
                {{ show_ad("native1", forloop.Counter, false) }}
                {% elif item.trader.domain %}
                {{ show_toplist_thumb(item, toplist, false) }}
            {% else %}
                {{ show_content (item) }}
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}